// ========= COLORS ========= //
$white: #ffffff;
$black: #000000;
$standardGrey: #8c8c8c;
$grey: #8a8a8a;
$standardBlack: #242424;
$brightRed: #d92626;
$standardYellow: #f4c55b;
$primaryColor: #1e1e1e;

// ========= MEDIA QUERIES ========= //
$sm: 600px;
$md: 960px;
